{% extends "base.html" %}

{% block content %}

<br />
<br />
<br />
<br />
<div>
<div class="col-lg-2"></div>
<div class="col-lg-2" style="text-align: center"><a href="/consultas"> <img src="{{url_for('static', filename='img/wallet.png')}}" /><br>Consultas</a> </div>
<div class="col-lg-2" style="text-align: center"><a href="/responsavel/list"> <img src="{{url_for('static', filename='img/woman.png')}}" /><br>Responsáveis</a> </div>

<div class="col-lg-2" style="text-align: center">
<a href="/contrato/list"> <img src="{{url_for('static', filename='img/diploma.png')}}" /><br>Contratos</a> <br/>
</div>

<div class="col-lg-2" style="text-align: center">
<a href="/config"> <img src="{{url_for('static', filename='img/gear.png')}}" /><br>Configuração</a> <br/>  

</div>

{% endblock %}

