{% extends "base_site.html" %}

{% block title %} Contratos {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}


<div class="col-lg-9" style="margin-left:250px; min-height: 550px;">
  <!-- Default panel contents -->
  
  <h3>Contratos </h3>
  <div class="">
  
<form class="navbar-form navbar-left" role="search" action="" method="GET">
     
  <div class="form-group">
    
<div class="col-lg-6">
    <div class="input-group">
      <input type="text" name="busca" id="busca" class="form-control" style="width:15cm" placeholder="texto para pesquisa">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Pesquisar</button>
        <button class="btn btn-basic" type="button" onclick="javascript:window.location='/contrato/list'">Todos</button>
        <button class="btn btn-success" type="button" onclick="javascript:window.location='/contrato/add'">Novo</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->  
  </div>
</form>
<br />
<br />
    
  <!-- Table -->
  <table class="table table-striped">
  <tr><th>Aluno (Responsável)</th><th>Série</th><th></th></tr>
    {% for c in lista %}
<tr><td style="vertical-align: middle;"><p><a href="/contrato/edit/{{c.id}}">{{c.aluno}}</a>
<br />({{c.parentesco}} : {{c.responsavel().nome}})
</p></td><td style="vertical-align: middle;">{{c.serie}}</td>
<td style="vertical-align: middle;">
<a href="/contrato/edit/{{c.id}}"><img src="{{url_for('static', filename='img/edit-24.png')}}" title="Cadastro"></a>
&ensp;
<a href="/pagamentos/list/{{c.id}}">
<img src="{{url_for('static', filename='img/wallet-24.png')}}" title="Pagmentos">
</a>
&ensp;
<a href="/prestacao/list/{{c.id}}">
<img src="{{url_for('static', filename='img/wallet-24.png')}}" title="Financeiro">
</a>
&ensp;
<a href="/impressao/carnets/{{c.id}}" target="_blank"><img src="{{url_for('static', filename='img/printer-24.png')}}" title="Impressão"></a>
&ensp;
<a href="/impressao/contrato/{{c.id}}" target="_blank"><img src="{{url_for('static', filename='img/diploma-24.png')}}" title="Contrato"></a></td></tr>
{% endfor %}

  </table>
</div>
</div>

{% endblock %}

