{% extends "base_site.html" %}

{% block title %} Consulta Geral {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="col-lg-9" style="margin-left:250px; min-height: 550px;">
  <!-- Default panel contents -->
  
  <h3></h3>
  <div class="">
{% with messages = get_flashed_messages() %}
  {% if messages %}
   <div class="alert alert-success" role="alert">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endwith %}
  
</form>
<br />
<br />
</div>
</div>

{% endblock %}

