{% extends "base_site.html" %}

{% block title %} Pagamentos {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<div class="col-lg-9" style="margin-left:250px; min-height: 550px;">
  <!-- Default panel contents -->
  
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
        Aluno: <label>{{ obj.aluno }}</label>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
        Responsável: <label>{{obj.responsavel().nome}}</label>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="form-group">
        Série: <label> {{obj.serie}}</label>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="form-group">
<button type="button" class="btn btn-default" onclick="javascript:window.location='/contrato/list'">Voltar </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12">
  <!-- Default panel contents -->
  
  <h3>Prestações </h3>
  <div class="">


</div><!-- Row-->
  <!-- Table -->
  <table class="table table-striped">
  <tr><th class="col-sm-1">Situação</th><th class="col-sm-1">Mês</th><th class="col-sm-1">Vencimento</th><th class="col-sm-1">Valor</th><th class="col-sm-1">Data pgto</th><th class="col-sm-1">Valor pago</th><th class="col-sm-1">Forma de pgto</th>
<th class="col-sm-1">Cheque No.</th>  
<th class="col-sm-1">Cheque data</th>  
  </tr>
  
    {% for p in prests %}
<tr style="color:{% if p.status == 'N' %}grey{%endif%}{% if p.status == 'P' %}blue{%endif%}{% if p.em_atraso() %}red{%endif%}">
<td>
<!--
-->
{% if p.status == 'A' %}
    {% if p.em_atraso() %}
        <img src="{{url_for('static', filename='img/atrasada.png')}}" title="Em Atraso">
    {% else %}
        <img src="{{url_for('static', filename='img/aberta.png')}}" title="Aberta">
    {%endif%}
{%endif%}
{% if p.status == 'P' %}<img src="{{url_for('static', filename='img/paga.png')}}" title="Paga">{%endif%}
{% if p.status == 'D' %}<img src="{{url_for('static', filename='img/desistente.png')}}" title="Desistente">{%endif%}
{% if p.status == 'N' %}<img src="{{url_for('static', filename='img/naoestudou.png')}}" title="Não estudou">{%endif%}
</td>
<td><a href="/prestacao/pagamento/{{p.id}}">{{p.messtr()}}</a></td>
<td>{{p.vencimento.strftime('%d/%m/%Y')}}</td>
<td>{{p.valorstr()}}</td>
<td>{% if p.data_pgto %}{{p.data_pgto.strftime('%d/%m/%Y')}}{%else%}---{%endif%}</td>
<td>{% if p.valor_pago > 0 %}{{p.valor_pago}}{%else%}---{%endif%}</td>
<td>{% if p.forma_de_pgto  %}{{p.forma_de_pgto_str()}}{%else%}---{%endif%}</td>
<td>{% if p.cheque_numero  %}{{p.cheque_numero}}{%else%}---{%endif%}</td>
<td>{% if p.cheque_data  %}{{p.cheque_data_str()}}{%else%}---{%endif%}</td>
</tr>
{% endfor %}

  </table>

</div>
</div>
{% endblock %}

