{% extends "base_site.html" %}

{% block title %} Pagamentos {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
   <div class="alert alert-success" role="alert">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    </div>
  {% endif %}
{% endwith %}

<div class="col-lg-10" style="margin-left:250px; min-height: 550px;">
  <!-- Default panel contents -->
  
  <h3>Prestações</h3>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
        Aluno: <label>{{ obj.aluno }}</label>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="form-group">
        Responsável: <label>{{obj.responsavel().nome}}</label>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="form-group">
        Série: <label> {{obj.serie}}</label>
        </div>
    </div>
    <div class="col-sm-1">
        <div class="form-group">
<button type="button" class="btn btn-default" onclick="javascript:window.location='/contrato/list'">Voltar </button>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-10" style="margin-left: -10px; min-height: 550px;">
  <!-- Default panel contents -->
    <div class="">


</div><!-- Row-->
  <!-- Table -->
  <table class="table table-striped">
  <tr><th>Ação</th><th>Situação</th><th>Mês</th><th>Vencimento</th><th>Valor</th><th>Data pgto</th><th >Valor pago</th><th>Forma de pgto</th></tr>
  
    {% for c in prests %}
<tr style="color:{% if c.status == 'N' %}grey{%endif%}{% if c.status == 'P' %}blue{%endif%}{% if c.em_atraso() %}red{%endif%}">
<td>
<a href="/prestacao/pagamento/{{c.id}}"><img src="{{url_for('static', filename='img/paga.png')}}" title="Pagar"></a>
<a href="/prestacao/reabre/{{c.id}}"><img src="{{url_for('static', filename='img/aberta.png')}}" title="Reabrir"></a>
<a href="/prestacao/desistiu/{{c.id}}"><img src="{{url_for('static', filename='img/desistente.png')}}" title="Desistir"></a>
<!--<a href="#" data-toggle="modal" data-target="#exampleModalCenter"><img src="{{url_for('static', filename='img/naoestudou.png')}}" title="Não estudou"></a>-->
<a href="/prestacao/naoestudou/{{c.id}}"><img src="{{url_for('static', filename='img/naoestudou.png')}}" title="Não estudou"></a>
</td>
<td>
<!--
{% if c.status == 'A' %}<img src="{{url_for('static', filename='img/aberta.png')}}" title="Aberta">{%endif%}
{% if c.status == 'P' %}<img src="{{url_for('static', filename='img/paga.png')}}" title="Paga">{%endif%}
{% if c.status == 'D' %}<img src="{{url_for('static', filename='img/desistente.png')}}" title="Desistente">{%endif%}
{% if c.status == 'N' %}<img src="{{url_for('static', filename='img/naoestudou.png')}}" title="Não estudou">{%endif%}
-->
{{c.statusstr()}}
</td>
<td><a href="/prestacao/edit/{{c.id}}">{{c.messtr()}}</a></td>
<td>{{c.vencimento.strftime('%d-%m-%Y')}}</td>
<td>{{c.valorstr()}}</td>
<td>{% if c.data_pgto %}{{c.data_pgto.strftime('%d-%m-%Y')}}{%else%}---{%endif%}</td>
<td>{% if c.valor_pago > 0 %}{{c.valor_pago}}{%else%}---{%endif%}</td>
<td>{% if c.forma_de_pgto  %}{{c.forma_de_pgto_str()}}{%else%}---{%endif%}</td>
</tr>
{% endfor %}

  </table>

</div>
</div>
{% endblock %}

